In [2]:
%load_ext autoreload
%autoreload 2

from limbless_db import categories, DBHandler
from IPython.display import display

import pandas as pd

In [3]:
db = DBHandler()
# db.connect(
#     user="admin",
#     password="password",
#     host="localhost",
#     port=5433
# )
db.connect(
    user="admin",
    password="password",
    host="lbi-dev.int.cemm.at"
)

LOG: Connected to DB 'postgresql+psycopg://lbi-dev.int.cemm.at:5432/limbless_db'

In [4]:
db.get_project_samples_df(23)

    sample_id sample_name                                         attributes
0         556       07_13  {'sex': {'value': 'f', 'type_id': 1}, 'tissue'...
1         557       07_14  {'sex': {'value': 'f', 'type_id': 1}, 'tissue'...
2         558       07_15  {'sex': {'value': 'f', 'type_id': 1}, 'tissue'...
3         559       07_16  {'sex': {'value': 'f', 'type_id': 1}, 'tissue'...
4         560        13_1  {'sex': {'value': 'f', 'type_id': 1}, 'tissue'...
5         561       13_10  {'sex': {'value': 'f', 'type_id': 1}, 'tissue'...
6         562       13_11  {'sex': {'value': 'f', 'type_id': 1}, 'tissue'...
7         563       13_12  {'sex': {'value': 'f', 'type_id': 1}, 'tissue'...
8         564        13_2  {'sex': {'value': 'f', 'type_id': 1}, 'tissue'...
9         565        13_3  {'sex': {'value': 'f', 'type_id': 1}, 'tissue'...
10        566        13_4  {'sex': {'value': 'f', 'type_id': 1}, 'tissue'...
11        567        13_5  {'sex': {'value': 'f', 'type_id': 1}, 'tissue'...
12        568        13_6  {'sex': {'value': 'f', 'type_id': 1}, 'tissue'...
13        569        13_7  {'sex': {'value': 'f', 'type_id': 1}, 'tissue'...
14        570        13_8  {'sex': {'value': 'f', 'type_id': 1}, 'tissue'...
15        571        13_9  {'sex': {'value': 'f', 'type_id': 1}, 'tissue'...
16        572        14_1  {'sex': {'value': 'f', 'type_id': 1}, 'tissue'...
17        573        14_2  {'sex': {'value': 'f', 'type_id': 1}, 'tissue'...
18        574        14_3  {'sex': {'value': 'f', 'type_id': 1}, 'tissue'...
19        575        14_4  {'sex': {'value': 'f', 'type_id': 1}, 'tissue'...
20        576        14_5  {'sex': {'value': 'f', 'type_id': 1}, 'tissue'...
21        577        14_6  {'sex': {'value': 'f', 'type_id': 1}, 'tissue'...
22        578        15_1  {'sex': {'value': 'm', 'type_id': 1}, 'tissue'...
23        579        15_2  {'sex': {'value': 'm', 'type_id': 1}, 'tissue'...
24        580        15_3  {'sex': {'value': 'm', 'type_id': 1}, 'tissue'...
25        581        15_5  {'sex': {'value': 'm', 'type_id': 1}, 'tissue'...
26        582        15_6  {'sex': {'value': 'm', 'type_id': 1}, 'tissue'...
27        583        15_7  {'sex': {'value': 'm', 'type_id': 1}, 'tissue'...
28        584        15_8  {'sex': {'value': 'm', 'type_id': 1}, 'tissue'...
29        585        17_1  {'sex': {'value': 'f', 'type_id': 1}, 'tissue'...
30        586        17_2  {'sex': {'value': 'f', 'type_id': 1}, 'tissue'...
31        587        17_3  {'sex': {'value': 'f', 'type_id': 1}, 'tissue'...
32        588        17_4  {'sex': {'value': 'f', 'type_id': 1}, 'tissue'...
33        589        18_1  {'sex': {'value': 'f', 'type_id': 1}, 'tissue'...
34        590        18_2  {'sex': {'value': 'f', 'type_id': 1}, 'tissue'...
35        591        18_3  {'sex': {'value': 'f', 'type_id': 1}, 'tissue'...
36        592        18_4  {'sex': {'value': 'f', 'type_id': 1}, 'tissue'...

### 1. Get All Libraries from Sequencing Run (Before demultiplexing flowcell)

In [5]:
experiment = db.get_experiment(name="BSF_1764")
experiment

Experiment(id=18, name=BSF_1764, num_lanes=2)

In [6]:
experiment_libraries = db.get_flowcell_df(experiment_id=experiment.id)
experiment_libraries.head(10)

,lane,sample_name,library_name,library_type,reference,seq_request_id,sequence_i7,sequence_i5
0,1,07_13,07_13_SMARTSEQ,SMART-Seq [102],Human (GRCh38) [1],28,TAAGGCGA,CTCTCTAT
1,1,07_14,07_14_SMARTSEQ,SMART-Seq [102],Human (GRCh38) [1],28,CGTACTAG,CTCTCTAT
2,1,07_15,07_15_SMARTSEQ,SMART-Seq [102],Human (GRCh38) [1],28,AGGCAGAA,CTCTCTAT
3,1,07_16,07_16_SMARTSEQ,SMART-Seq [102],Human (GRCh38) [1],28,TCCTGAGC,CTCTCTAT
4,1,13_1,13_1_SMARTSEQ,SMART-Seq [102],Human (GRCh38) [1],28,GGACTCCT,CTCTCTAT
5,1,13_10,13_10_SMARTSEQ,SMART-Seq [102],Human (GRCh38) [1],28,TAGGCATG,CTCTCTAT
6,1,13_11,13_11_SMARTSEQ,SMART-Seq [102],Human (GRCh38) [1],28,CTCTCTAC,CTCTCTAT
7,1,13_12,13_12_SMARTSEQ,SMART-Seq [102],Human (GRCh38) [1],28,CGAGGCTG,CTCTCTAT
8,1,13_2,13_2_SMARTSEQ,SMART-Seq [102],Human (GRCh38) [1],28,AAGAGGCA,CTCTCTAT
9,1,13_3,13_3_SMARTSEQ,SMART-Seq [102],Human (GRCh38) [1],28,GTAGAGGA,CTCTCTAT

#### 1.1 Grouping by Sequencing Request

In [7]:
for (seq_request_id), df in experiment_libraries.groupby("seq_request_id"):
    print(f"seq_request_id: {seq_request_id}")
    display(df.head(3))
    print("...\n")

seq_request_id: 28

,lane,sample_name,library_name,library_type,reference,seq_request_id,sequence_i7,sequence_i5
0,1,07_13,07_13_SMARTSEQ,SMART-Seq [102],Human (GRCh38) [1],28,TAAGGCGA,CTCTCTAT
1,1,07_14,07_14_SMARTSEQ,SMART-Seq [102],Human (GRCh38) [1],28,CGTACTAG,CTCTCTAT
2,1,07_15,07_15_SMARTSEQ,SMART-Seq [102],Human (GRCh38) [1],28,AGGCAGAA,CTCTCTAT

...

seq_request_id: 60

,lane,sample_name,library_name,library_type,reference,seq_request_id,sequence_i7,sequence_i5
37,1,B1_HC_D_Bcell,B1_HC_D_Bcell_ATAC,ATAC-Seq [108],Human (GRCh38) [1],60,GCTCATGA,ATAGAGAG
38,1,B1_HC_D_CD4,B1_HC_D_CD4_ATAC,ATAC-Seq [108],Human (GRCh38) [1],60,ATCTCAGG,ATAGAGAG
39,1,B1_HC_D_CD8,B1_HC_D_CD8_ATAC,ATAC-Seq [108],Human (GRCh38) [1],60,ACTCGCTA,ATAGAGAG

...

#### 1.2 Filtering Library Type

In [8]:
experiment_libraries[experiment_libraries["library_type"] == categories.LibraryType.ATAC_SEQ].head(3)

,lane,sample_name,library_name,library_type,reference,seq_request_id,sequence_i7,sequence_i5
37,1,B1_HC_D_Bcell,B1_HC_D_Bcell_ATAC,ATAC-Seq [108],Human (GRCh38) [1],60,GCTCATGA,ATAGAGAG
38,1,B1_HC_D_CD4,B1_HC_D_CD4_ATAC,ATAC-Seq [108],Human (GRCh38) [1],60,ATCTCAGG,ATAGAGAG
39,1,B1_HC_D_CD8,B1_HC_D_CD8_ATAC,ATAC-Seq [108],Human (GRCh38) [1],60,ACTCGCTA,ATAGAGAG

### 2. Downstream Projects (after demultiplexing)

In [23]:
db.get_project_samples_df(23)

    sample_id sample_name sex tissue    cell_type
0         556       07_13   f   Skin  Fibroblasts
1         557       07_14   f   Skin  Fibroblasts
2         558       07_15   f   Skin  Fibroblasts
3         559       07_16   f   Skin  Fibroblasts
4         560        13_1   f   Skin  Fibroblasts
5         561       13_10   f   Skin  Fibroblasts
6         562       13_11   f   Skin  Fibroblasts
7         563       13_12   f   Skin  Fibroblasts
8         564        13_2   f   Skin  Fibroblasts
9         565        13_3   f   Skin  Fibroblasts
10        566        13_4   f   Skin  Fibroblasts
11        567        13_5   f   Skin  Fibroblasts
12        568        13_6   f   Skin  Fibroblasts
13        569        13_7   f   Skin  Fibroblasts
14        570        13_8   f   Skin  Fibroblasts
15        571        13_9   f   Skin  Fibroblasts
16        572        14_1   f   Skin  Fibroblasts
17        573        14_2   f   Skin  Fibroblasts
18        574        14_3   f   Skin  Fibroblasts
19        575        14_4   f   Skin  Fibroblasts
20        576        14_5   f   Skin  Fibroblasts
21        577        14_6   f   Skin  Fibroblasts
22        578        15_1   m   Skin  Fibroblasts
23        579        15_2   m   Skin  Fibroblasts
24        580        15_3   m   Skin  Fibroblasts
25        581        15_5   m   Skin  Fibroblasts
26        582        15_6   m   Skin  Fibroblasts
27        583        15_7   m   Skin  Fibroblasts
28        584        15_8   m   Skin  Fibroblasts
29        585        17_1   f   Skin  Fibroblasts
30        586        17_2   f   Skin  Fibroblasts
31        587        17_3   f   Skin  Fibroblasts
32        588        17_4   f   Skin  Fibroblasts
33        589        18_1   f   Skin  Fibroblasts
34        590        18_2   f   Skin  Fibroblasts
35        591        18_3   f   Skin  Fibroblasts
36        592        18_4   f   Skin  Fibroblasts

In [77]:
project_libraries = db.get_project_libraries_df(23)
print(project_libraries.shape)
project_libraries[["experiment_name", "lane", "sample_name", "sample_id", "pool_name", "library_name", "seq_request_id", "attributes"]]

(74, 11)

,experiment_name,lane,sample_name,sample_id,pool_name,library_name,seq_request_id,attributes
0,BSF_1764,1,07_13,556,20250422_SS2_DF_cyt_AK,07_13_SMARTSEQ,28,"{'sex': {'value': 'f', 'type_id': 1}, 'tissue'..."
1,BSF_1764,2,07_13,556,20250422_SS2_DF_cyt_AK,07_13_SMARTSEQ,28,"{'sex': {'value': 'f', 'type_id': 1}, 'tissue'..."
2,BSF_1764,1,07_14,557,20250422_SS2_DF_cyt_AK,07_14_SMARTSEQ,28,"{'sex': {'value': 'f', 'type_id': 1}, 'tissue'..."
3,BSF_1764,2,07_14,557,20250422_SS2_DF_cyt_AK,07_14_SMARTSEQ,28,"{'sex': {'value': 'f', 'type_id': 1}, 'tissue'..."
4,BSF_1764,1,07_15,558,20250422_SS2_DF_cyt_AK,07_15_SMARTSEQ,28,"{'sex': {'value': 'f', 'type_id': 1}, 'tissue'..."
...,...,...,...,...,...,...,...,...
69,BSF_1764,2,18_2,590,20250422_SS2_DF_cyt_AK,18_2_SMARTSEQ,28,"{'sex': {'value': 'f', 'type_id': 1}, 'tissue'..."
70,BSF_1764,1,18_3,591,20250422_SS2_DF_cyt_AK,18_3_SMARTSEQ,28,"{'sex': {'value': 'f', 'type_id': 1}, 'tissue'..."
71,BSF_1764,2,18_3,591,20250422_SS2_DF_cyt_AK,18_3_SMARTSEQ,28,"{'sex': {'value': 'f', 'type_id': 1}, 'tissue'..."
72,BSF_1764,1,18_4,592,20250422_SS2_DF_cyt_AK,18_4_SMARTSEQ,28,"{'sex': {'value': 'f', 'type_id': 1}, 'tissue'..."
73,BSF_1764,2,18_4,592,20250422_SS2_DF_cyt_AK,18_4_SMARTSEQ,28,"{'sex': {'value': 'f', 'type_id': 1}, 'tissue'..."